/*
Starter CSS for Lesson 4: CSS Introduction 

HTML Basico para el ejercicio

TODO: Cambia el color de fondo del body a un tono claro 

TODO: Cambia el color del texto del p치rrafo a un tono oscuro 

TODO: Agrega un margen y un color de fondo suave al p치rrafo 

<body>
  <h1>Mi primer estilo en CSS</h1>
  <p>Este es un p치rrafo de ejemplo al que aplicar치s estilos.</p>
</body>

*/

body {
}

p {
}
