/* Selecciona la clase .caja-principal */
.caja-principal {
    /* Ponle un color de fondo gris claro (#f0f0f0) */

    /* Agrega un borde azul sólido */

    /* Centra el texto */

    /* Define un ancho de 50% y céntralo en la página (margin auto) */
}

/* Cambia el color del h1 dentro de la caja */
.caja-principal h1 {

}