/* TODO: Selecciona la clase .caja-principal */
.caja-principal {
    /* TODO: Ponle un color de fondo gris claro (#f0f0f0) */

    /* TODO: Agrega un borde azul sólido */

    /* TODO: Centra el texto */

    /* TODO: Define un ancho de 50% y céntralo en la página (margin auto) */
}

/* TODO: Cambia el color del h1 dentro de la caja */
.caja-principal h1 {

}